	<!--================ Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="owl-theme">

			<div class="slide-item" style="background: url('../../../assets/img/banner/home-banner3.jpg');">
				<div class="container">
					<div class="row">
						<div class="col-lg-5"></div>
						<div class="col-lg-7">
							<div class="blog_text_slider">
								<div class="blog_text">
									<img class="img-fluid" src="../../../assets/img/banner/banner-img3.png" alt="">
									<div class="blog-meta bottom d-flex justify-content-between align-items-center flex-wrap">
										<div class="meta text-white bg-dark p-2 px-5">
											<span class="icon fa fa-calendar"></span> March 14, 2024
											
										</div>
										<div>
											<a class="read_more" href="/about">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->


